.signup-container.inner-container.small-container
  #signup-form
    .title-page 
      h1= t('Signup with email')
    form.form(action="/signup", method="post", role="form")
      ul.form-errors
      .form-group
        input.form-control(type='text', id="firstName", name='firstName', tabindex=1, placeholder=t('Firstname'), autofocus)
      .form-group
        input.form-control(type='email', name='email', tabindex=2, placeholder=t('example@email.com'))
      .form-group
        input.form-control(type='password', name='password', tabindex=3, placeholder=t('Password'))
      .form-group
        #captcha-container
        #recaptcha_widget
          #recaptcha_image
          input.form-control#recaptcha_response_field(type="text", name="recaptcha_response_field", tabindex=4, placeholder="Ingresa las palabras")
          ul.recaptcha_controls
            li#recaptcha-reload
              a(href="javascript:Recaptcha.reload()")
                i.flaticon-arrows64
            li.recaptcha_only_if_image
              a(href="javascript:Recaptcha.switch_type('audio')")
                i.flaticon-raise
            li.recaptcha_only_if_audio
              a(href="javascript:Recaptcha.switch_type('image')")
                i.flaticon-typografic
            li#recaptcha-help
              a(href="javascript:Recaptcha.showhelp()")
                i.flaticon-help
      .form-group: input.btn.btn-success.btn-block.btn-lg(type='submit', tabindex=5, value=t('Signup now!'))
  //- #signup-message.hide
  //-   h1 Welcome
  //-   p.lead.text-muted #{t("Your sign up data was received. We sent you an email so you can validate your email address")}.
  //-   p.lead.text-muted #{t("Please check your email (remember to check your spam folder too) and click on the link supplied on the email")}.
  //-   a(href='/signup/resend-validation-email')= t('Resend validation email')

